<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Martin Anberg
-->
<head>
    <meta charset="UTF-8">
    <title>Skade&Udbedring</title>
    <link rel="stylesheet" th:href="@{/iSL.css}" href="../static/iSL.css">
</head>


<header>
    <div id="headerLeft">
        <a th:href="@{/logout}">
            <button class="buttonLogOut">Log out</button></a>
    </div>

    <div id="headerCenter">
        <img th:src="@{/Images/BILABONNEMENT.png}" src="/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>


<body>
<div class="forretningsudviklerBox"><div style="font-size: 250%; align-self: center;"><b>Skade og udbedring - Ubeskadigede biler</b></div></div>
<br><br>
<section>
    <form action="http://localhost:8080/SkadeOgUdbedring/Biler-med-skader?">
        <button class="CarButton" type="submit"  >Tilbage til beskadigede biler</button></form>

</section>


<div class="table-container">
    <table style="width: 700px">
        <tr>
            <th>Bil-ID</th>
            <th>Model</th>
            <th>Mærke</th>
            <th>Årgang</th>
            <th>Farve</th>
            <th>Indtast Fejl</th>
            <th>Indtast Pris</th>
            <th></th>
        </tr>
        <tr th:each="car:${undamagedList}">
            <td th:text="${car.carID}"></td>
            <td th:text="${car.carName}"></td>
            <td th:text="${car.carBrand}"></td>
            <td th:text="${car.carVintage}"></td>
            <td th:text="${car.carColour}"></td>
            <form action="/SkadeOgUdbedring/Biler-uden-skader" method="post">
                <td><label for="damage"></label><input type="text" id="damage" name="fejl"></td>
                <td><label for="price"></label><input type="number" id="price" name="pris"></td>
                <input type="hidden" name="carID" th:value="${car.carID}">
                <td><button type="submit" name="submit" value="Opret fejl">Opret fejl</button></td>
            </form>
        </tr>
    </table>
</div>

</body>
</html>





