<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Martin Anberg
-->
<head>
    <meta charset="UTF-8">
    <title>Skade&Udbedring</title>
    <link rel="stylesheet" th:href="@{/SL.css}" href="../static/SL.css">
</head>


<header>
    <div id="headerLeft">
        <a th:href="@{/logout}">
            <button class="buttonLogOut">Log out</button></a>
    </div>

    <div id="headerCenter">
        <img th:src="@{/Images/BILABONNEMENT.png}" src="/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>


<body>
<div class="forretningsudviklerBox"><div style="font-size: 250%; align-self: center;"><b>Skade og udbedring - Beskadigede biler</b></div></div>
<br><br>
<section>
    <form action="http://localhost:8080/SkadeOgUdbedring/Biler-uden-skader?">
        <button class="CarButton" type="submit">Vis ubeskadigede biler</button></form>
</section>


<div class="table-container">
    <table style="width: 700px">
        <tr>
            <th>Bil-ID</th>
            <th>Årgang</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Farve</th>
            <th>Fejl</th>
            <th>Pris på fejl</th>
        </tr>
        <tr th:each="car:${damagedList}">
            <td th:text="${car.carID}"></td>
            <td th:text="${car.carVintage}"></td>
            <td th:text="${car.carBrand}"></td>
            <td th:text="${car.carName}"></td>
            <td th:text="${car.carColour}"></td>
            <td th:text="${car.damage}"></td>
            <td th:text="${car.damagePrice}"></td>
            <form action="/SkadeOgUdbedring/Biler-med-skader?" method="post">
                <input type="hidden" id="carID" name="carID" th:value="${car.carID}">
                <td><button type="submit" name="submit" value="Slet fejl">Slet fejl</button></td>
            </form>
        </tr>
    </table>
</div>

</body>
</html>





